# Ignore Everything:
*
# Except for my project files:
!*/
!*.cpp
!*.h
!*.py
!*.cs
!*.txt
!*.jpg
!*.png
!*.md
!*.obj
!*.3ds
!*.dae
!*.skb
!*.skp
!*.wings
!*.wings
!LICENSE
!.gitignore
# Ignore Build directory:
Intermediate/
Intermediate/*
Saved/
Saved/*
