<!doctype html>
<!-- Joseph DeVictoria 2017 -->
<html>
    <head>
        <!-- Page setup -->
        <title>Oldentide: A game where you can be anyone.</title>
        <meta charset="utf-8">
        <meta name="author" content="Joseph DeVictoria">
        <meta name=viewport content="width=device-width, initial-scale=1"> 
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
        <!-- CSS -->
        <link href="/styles/skeleton.css" rel="stylesheet">
        <link href="/styles/normalize.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <center>
                <a href="/"><img src="/img/oldentide_logo.png"></a>
                <h1>Oldentide</h1>
            </center>
            <div>
                <center>
                    <a href="/profile" class="button">Profile</a>
                    {{#if loggedout}}  
                    <a href="/login" class="button">Login</a>
                    <a href="/register" class="button">Register</a>
                    {{/if}}
                    <a href="/logout" class="button">Logout</a>
                </center>
            </div>
        </div>
        {{{body}}}
        <div class="container">
            <div>
                <center><a href="/about" class="button">About</a></center>
            </div">
        </div>
    </body>
</html>
