<!doctype html>
<!-- Joseph DeVictoria 2017 -->
        <div class="container">
            <center>
                <div>
                    <h1>404 Error! - The "{{{page}}}" page does not exist!</h1>
                </div>
            </center>
        </div>
