<!doctype html>
<!-- Joseph DeVictoria 2017 -->
<html>
    <head>
        <!-- Page setup -->
        <title>Oldentide: A game where you can be anyone.</title>
        <meta charset="utf-8">
        <meta name="author" content="Joseph DeVictoria">
        <meta name=viewport content="width=device-width, initial-scale=1"> 
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
        <!-- CSS -->
        <link href="/styles/skeleton.css" rel="stylesheet">
        <link href="/styles/normalize.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div>
                <a href="/"><img src="/img/oldentide_logo.png" class="logo"></a>
            </div>
            <div>
                <a href="/profile" class="button">Profile</a>
            </div>
            <div>
                <h1 style="text-align: left">What is Oldentide?</h1><br>
                Oldentide is a game where you can be anyone.<br>
            </div>
            <div>
                <a href="/about" class="button">About</a>
            </div">
        </div>
    </body>
</html>
