<!doctype html>
<!-- Joseph DeVictoria 2017 -->
        <div class="container">
            <center>
                <div>
                    {{#if incorrect}}
                    <h1>Your username or password was incorrect...</h1>
                    {{/if}}
                    {{#if loggedout}}
                    <form name="login" method="post" action="/login" role="form">
                        <div class="row">
                            <div class="six columns">
                                <label for="login_username">Username</label>
                                <div><input type="text" id="login_username" name="login_username" placeholder="User" required="required" maxlength="30" pattern="[A-Za-z0-9]{3,}"></div>
                            </div>
                            <div class="six columns">
                                <label for="login_password">Password</label>
                                <div><input type="password" id="login_password" name="login_password" placeholder="******" required="required" maxlength="30" pattern="[A-Za-z0-9]{6,}"></div>
                            </div>
                        </div>
                        <input class="button-primary" type="submit" value="Login">
                    </form>
                    {{/if}}
                    {{#if loggedin}}
                        <h1>You are logged in!</h1>
                    {{/if}}
                </div>
            </center>
        </div>
