<!doctype html>
<!-- Joseph DeVictoria 2017 -->
        <div class="container">
            <center>
                {{#if loggedin}}
                <div>
                    <h1>You have successfully logged out!</h1>
                </div>
                {{else}}
                <div>
                    <h1>You were never logged in!</h1>
                </div>
                {{/if}}
            </center>
        </div>
