<!doctype html>
<!-- Joseph DeVictoria 2017 -->
        <div class="container">
            <center>
                <div>
                    {{#if loggedin}}
                        <h1>Hello {{username}}.</h1>
                    {{else}}
                        <h1>You are not logged in.</h1>
                    {{/if}}
                </div>
            </center>
        </div>
