<!doctype html>
<!-- Joseph DeVictoria 2017 -->
        <div class="container">
            <center>
                <div>
                    {{#if loggedin}}
                        Hello {{username}}.
                    {{/if}}
                </div>
            </center>
        </div>
