<!doctype html>
<!-- Joseph DeVictoria 2017 -->
        <div class="container">
            <center>
                <div>
                    {{#if get}}
                    <form name="registration" method="post" action="/register" role="form">
                            <div class="row">
                                <div class="six columns">
                                    <label for="registration_username">Username (min 3)</label>
                                    <input type="text" id="registration_username" name="registration_username" placeholder="User" required="required" maxlength="30" pattern="[A-Za-z0-9]{3,}">
                                </div>
                                <div class="six columns">
                                    <label for="registration_email">Email</label>
                                    <input type="email" id="registration_email" name="registration_email" placeholder="user@domain.com" required="required">
                                </div>
                            </div>
                            <div class="row">
                                <div class="six columns">
                                    <label for="registration_password_first">Password (min 6)</label>
                                    <input type="password" id="registration_password_first" name="registration_password_first" placeholder="******" required="required" maxlength="30" pattern=".{6,}">
                                </div>
                                <div class="six columns">
                                    <label for="registration_password_second">Confirm (min 6)</label>
                                    <input type="password" id="registration_password_second" name="registration_password_second" placeholder="******" required="required" maxlength="30" pattern=".{6,}" oninput="check(this)">
                                </div>
                                <script language='javascript' type='text/javascript'>
                                    function check(input) {
                                        if (input.value != document.getElementById('registration_password_first').value) {
                                            input.setCustomValidity('Password Must be Matching.');
                                        } else {
                                            // input is valid -- reset the error message
                                            input.setCustomValidity('');
                                        }
                                    }
                                </script>
                            </div>
                            <input class="button-primary" type="submit" value="Register">
                    </form>
                    {{/if}}
                    {{#if post}}
                    <h1>Registration submitted, please check your email to complete verification!</h1>
                    {{/if}}
                    {{#if exists}}
                    <h1>An account for this username or email already exists!</h1>
                    {{/if}}
                </div>
            </center>
        </div>
