<!doctype html>
<!-- Joseph DeVictoria 2017 -->
        <div class="container">
            <center>
                {{#if flag}}
                <div>
                    <h1>You have successfully verified your account!<h1>
                </div>
                <div>
                    <h2>Username: {{user}}</h2>
                </div>
                {{else}}
                <div>
                    <h1>No account was found for the given url!<h1>
                </div>
                {{/if}}
            </center>
        </div>
