<HTML>
    <B>
        <div align="center">
            <P>
                <pre>
*******************************************
* Welcome to The Goblin Oldentide Server! *
*******************************************
*   ________      ___.   .__  .__         *
*  /  _____/  ____\_ |__ |  | |__| ____   *
* /   \  ___ /  _ \| __ \|  | |  |/    \  *
* \    \_\  (  <_> ) \_\ \  |_|  |   |  \ *
*  \______  /\____/|___  /____/__|___|  / *
*         \/           \/             \/  *
*******************************************
*           www.Oldentide.com             *
*******************************************
                </pre>
            </P>
            <P>
                Hi there welcome to the Goblin Oldentide Server status page!
            </P>
            <P>
                Eventually this page will contain information about who is logged on and what the status of the server is (uptime etc...)
            </P>
        </div>
    </B>
</HTML>
